h1{color: darkgreen;}
body {font-family: 'Helvetica Neue', sans-serif;
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
	color: #222;
	line-height: 1.6;}

.highlighted{background-color: darkgray;}

#about{color: darkgray;}


